---
interface Props {
  href: string;
  external?: boolean;
  target?: string;
  rel?: string;
  "aria-label"?: string;
}

const {
  href,
  external = false,
  target,
  rel,
  "aria-label": ariaLabel,
} = Astro.props;

let isActive = !external && Astro.url.pathname.startsWith(href);
if (isActive && href === "/" && Astro.url.pathname !== "/") {
  isActive = false;
}

const linkProps = {
  href,
  ...(external && { target, rel }),
  ...(ariaLabel && { "aria-label": ariaLabel }),
  ...(isActive && !external && { "aria-current": "page" as const }),
};
---

<a {...linkProps}>
  {
    isActive && !external ? (
      <b>
        <slot />
      </b>
    ) : (
      <slot />
    )
  }
</a>
