---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCardGrid from "../../components/ProjectCardGrid.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects">
  <h1>Projects</h1>
  <p>A collection of personal projects I've worked on.</p>

  <div>
    <p>
      <em>There are many more to be documented here..</em>
      <br />
      <em>
        <a
          href="https://github.com/cb341"
          target="_blank"
          rel="noopener noreferrer"
        >
          Check out my GitHub
        </a>
        for more projects in the meantime.
      </em>
    </p>
  </div>

  {
    projects.length > 0 ? (
      <div>
        {projects.map((project) => (
          <ProjectCardGrid project={project} />
        ))}
      </div>
    ) : (
      <p>No projects available yet.</p>
    )
  }
</BaseLayout>
