name: CI

on:
  push:
    branches-ignore: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - run: bin/check_unicode
      - run: bundle exec jekyll build
      - run: bin/htmlproofer
