name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - run: bundle exec jekyll build
      - run: |
          # linkedin.com, amd.com, seagate.com, corsair.com, reddit.com: bot-blocking (links are valid, fail without browser UA)
          # TODO: remove /cb341\.dev\/blog\/tags/ once deployed
          bundle exec htmlproofer _site \
            --ignore-urls "/linkedin\.com/,/amd\.com/,/seagate\.com/,/corsair\.com/,/reddit\.com/,/cb341\.dev\/blog\/tags/" \
            --ignore-status-codes "429,999"
